<header>
<iframe width="1280" height="720" src="https://www.youtube.com/embed/9VlfxuMJxTw?autoplay=1&loop=1&mute=1&%color=white&iv_load_policy=3&playlist=9VlfxuMJxTw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



    <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
    <div class="w-100 text-white">
     <h1 class="display-3">Book your class today!</h1>
    </div>
</header>
<section class="my-5">
    <div class="container"></div>
    <div class="row"></div>
</section>
<%= react_component 'Calendar', prerender: false %>



    
    






